.util {
    &-text {
        &-overflow-truncate {
            .text-over-flow();
        }

        &-area-data {
            word-wrap: break-word;
            white-space: pre-wrap;
            .font(@mediumgrey, @absolute-loose);
        }
        &-left-align {
            text-align:left;
        }
        &-center-align {
            text-align:center;
        }
        &-right-align {
            text-align:right;
        }
    }

    &-font-label {
        .font(@darkgrey, @absolute-loose, monospace, @font-weight-thick);
    }

    &-header-text {
        .font(@darkgrey, @absolute-loose, monospace, @font-weight-thick);
        text-align:center;
    }

}