.safarnama-blogs {
    padding: @absolute-very-tight;
    margin: @absolute-tight @absolute-very-tight;
    border-radius: @absolute-very-tight;

    &-content {
        &-body {
            padding: @absolute-very-tight;
            margin: @absolute-very-tight;
            border-radius: @absolute-very-tight;
        }
        &-background-shade {
            border-radius: @absolute-very-tight;
            background-color: @darkgrey;
            box-shadow: @box-shadow;
        }
    }

    &-create-content {
        &-header {
            padding: @absolute-very-tight;
            margin: @absolute-loose @absolute-very-tight;
            border-radius: @absolute-very-tight @absolute-very-tight 0 0;
            .font(@darkgrey, @absolute-loose, @text-description, @font-weight-thick, @line-height-medium);
        }

        &-body {
            padding: @absolute-very-tight;
            margin: @absolute-loose @absolute-very-tight;
            border-radius: @absolute-very-tight @absolute-very-tight 0 0;

            &-button {
                padding: @absolute-tight;
            }
        }
    }
}